/* NoticeForm.css */
.notice-form {
    text-align: center;
    margin: 20px;
  }
  
  .logo {
    width: 150px; /* Adjust the width as needed */
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  /* Add Notice Button Styling */
  button {
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  